.App {
  text-align: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  background-color: white;
}

.backdrop {
  background-color: rgba(63, 61, 61, 0.692);
  height: 100%;
  position: fixed;
  transition: all 1.3s;
  width: 100%;
}

.font-style {
  font-family: 'Sansita Swashed';
}

.heading-h3 {
  font-family: 'Asap';
}

h1 {
  font-family: 'Overlock';
}

.heading-h3 {
  font-family: 'Asap';
  font-weight: bolder;
  font-size: 20px;
}

.heading-h4 {
  font-family: 'Overlock';
  font-size: 20px;
}

button {
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bolder;
  font-family: 'Architects Daughter';
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color:rgb(235, 102, 102);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px rgb(105, 102, 102);
  margin-right: 16px;
}

button:active {
  background-color: #22b1b1;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media all and (max-width: 768px) {
  .heading-h3 {
    font-size: 15px;
  }

  button {
    padding: 9px 12px;
    margin-bottom: 20px;
    margin-left: 6.5px;
  }

  .modal {
    width: 90%;
    height: 45%;
  }

  .heading-h4 {
    font-size: 12px;
  }

  .base-heading {
    font-size: 22px;
  }
  
}

@media all and (min-width:411px) {
  button {
    margin-left: 7px;
  }
}
